<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/assets/css/styles.css" />
    <title>Diamond Admin</title>
</head>

<body>
    <header>
        <h1>Users' Complaints</h1>
    </header>
    <div class="sidebar">
        <img src="static/assets/images/download.jpg" alt="LOGO" style="height: 75px; width: 70px; border-radius: 50px" />
        <br /><br /><br />
    
        <a class="active" href="{{url_for('users')}}">Users</a>
        <a class="active" href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('wr')}}">Withdrawal Requests</a>
       
    </div>

    <!-- Content -->
    <div class="content">
        <!-- Your main content goes here -->
    </div>
    <main>
        {% for compl in complaints %}
        <section id="note-section">
          <div id="note-container" style="background-color: rgb(237, 250, 249)">
            <h3
              style="
                font-weight: 200;
                color: rgb(93, 99, 116);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              <br />subject:    <a href="{{url_for('complaint', user_id=compl.user_id, created=compl.Created)}}">{{compl.subject}} </a><br />
              <br />
              <pre style="overflow: auto">username: {{compl.name}}</pre>
              <br />
            </h3>
          </div>
        </section>
  
        {% endfor %}
      </main>
</body>

</html>