<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/styles.css') }}" />
    <title>Diamond Admin</title>
</head>

<body>
    <header>
        <h1>User Complaint</h1>
    </header>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='assets/images/download.jpg')}}" alt="LOGO" style="height: 75px; width: 70px; border-radius: 50px" />
        <br /><br /><br />
        <a class="active" href="{{url_for('home')}}">Home</a>
    <a class="active" href="{{url_for('users')}}">Users</a>
    <a href="{{url_for('complaints')}}">Complaints</a>
    <a href="{{url_for('wr')}}">Withdrawal Requests</a>
    </div>
    <!-- Content -->
    <div class="content">
        <!-- Your main content goes here -->
    </div>
    <main>
        <section id="chat-section">
            <h2 style="
            color: rgb(99, 105, 103);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 300;
          ">
                User Complaint
            </h2>
            <div id="chat-container" class="chatarea" style="background-color: rgb(245, 255, 254)">
                <p class="chatbot-message" style="
              font-size: 17px;
              color: rgb(106, 111, 112);
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            ">
                   
                    <br />
                Subject:
                <br>
                <p style="padding: 10px; font-family: monospace; font-weight: bold; font-size: larger;">  {{complaint.subject}}</p>
                <br />
                Message:
                <br>
                <p style="padding: 10px; font-family: monospace;">{{complaint.message}}</p>
                <br />
                

                </p>
            </div>
            <form id="chat-form" action="/chatRes" method="post" enctype="multipart/form-data">
                <input type="text" id="chat-input" placeholder="enter response here" name="response" />
                <button type="submit" id="submit-button">Send</button>
            </form>
        </section>
      </main>
</body>

</html>