<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/styles.css') }}" />
    <title>Diamond Admin</title>
</head>

<body>
    <header>
        <h1>{{user.name}}</h1>
    </header>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='assets/images/download.jpg')}}" alt="LOGO" style="height: 75px; width: 70px; border-radius: 50px" />
        <br /><br /><br />
        <a class="active" href="{{url_for('home')}}">Home</a>
        <a class="active" href="{{url_for('users')}}">Users</a>
        <a href="{{url_for('complaints')}}">Complaints</a>
        <a href="{{url_for('wr')}}">Withdrawal Requests</a>
       
    </div>

    <!-- Content -->
    <div class="content">
        <!-- Your main content goes here -->
    </div>

    <main>
        <section id="upload-section">
            <h2 style="
            color: rgb(99, 105, 103);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 500;
          ">
                Add Diamonds to this Miner here
            </h2>
            <form id="upload-form" action="/admin_add_diamond" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="  enter the amount here" name="amount"
                    style="width: 100%; border-radius: 10px; height: 40px" />
                <br /><br />
                <button type="submit">Submit</button>
            </form>
        </section>
        <section id="note-section">
            <h2 style="
            color: rgb(99, 105, 103);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 300;
          ">
                Parson's Basic informations:
            </h2>
            <div id="note-container" style="background-color: rgb(237, 250, 249)">
                <h3 style="
              font-weight: 200;
              color: rgb(93, 99, 116);
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            ">
                    <br />ID: {{user.referral_code}} <br />
                    <br />
                    <pre style="overflow: auto">Full Name: {{user.name}}</pre>
                    <br />
                    <pre style="overflow: auto">Email: {{user.email}}</pre>
                    <br />
                    <pre style="overflow: auto">Contact: {{user.contact}}</pre>
                    <br />
                    <pre style="overflow: auto">Gender: {{user.gender}}</pre>
                    <br />
                    <pre style="overflow: auto">Address: {{user.address}}</pre>
                    <br />
                    <pre style="overflow: auto">Diamonds: {{user.diamonds}}</pre>
                    <br />
                    <pre style="overflow: auto">Staked: {{user.staked}}</pre>
                    <br />
                    <pre style="overflow: auto">password: {{user.password}}</pre>
                </h3>
            </div>
        </section>
        <section id="note-section">
            <h2 style="
            color: rgb(99, 105, 103);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 300;
          ">
                Withdrawal History:
            </h2>
            <div id="note-container" style="background-color: rgb(237, 250, 249)">
                <h3 style="
              font-weight: 200;
              color: rgb(93, 99, 116);
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            ">
                    {% for h in history %}

                    <br />
                <p style="padding: 10px; font-family: monospace;">Withdrawal Time:  {{h.Created}} 
                <br />
                Tron Wallet Address: {{h.address}}
                <br />
                Tons Amount: {{h.amount}}</p>
                <br />
                {% endfor %}
                </h3>
            </div>
        </section>
        <section id="chat-section">
            <h2 style="
            color: rgb(99, 105, 103);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 300;
          ">
                User Notifications
            </h2>
            <div id="chat-container" class="chatarea" style="background-color: rgb(245, 255, 254)">
                <p class="chatbot-message" style="
              font-size: 17px;
              color: rgb(106, 111, 112);
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            ">
            {% for n in notifs %}

            <br />
        <p style="padding: 10px; font-family: monospace;">Notification:  {{n.message}} <br />Time: {{n.Created}}</p>
        <br />
       
        
        {% endfor %}
                  
                </p>
            </div>
            <form id="chat-form" action="/send_notif" method="post" enctype="multipart/form-data">
                <input type="text" id="chat-input" placeholder="send notification to this user" name="notif" />
                <button type="submit" id="submit-button">Send</button>
            </form>
        </section>

        <section id="upload-section">
            <h2 style="
            color: rgb(99, 105, 103);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 500;
          ">
                freeze user account
            </h2>
            <button class="deactivate">deactivate</button> &nbsp;&nbsp;&nbsp;&nbsp;<button class="activate">activate</button>
        </section>
    </main>
</body>

</html>