<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/assets/css/styles.css" />
    <title>Diamond Admin</title>
</head>

<body>
    <header>
        <h1>Withdrawal Requests</h1>
    </header>
    <div class="sidebar">
        <img src="static/assets/images/download.jpg" alt="LOGO" style="height: 75px; width: 70px; border-radius: 50px" />
        <br /><br /><br />
        <a class="active" href="{{url_for('home')}}">Home</a>
        <a class="active" href="{{url_for('users')}}">Users</a>
        <a href="{{url_for('complaints')}}">Complaints</a>
     
    </div>

    <!-- Content -->
    <div class="content">
        <!-- Your main content goes here -->
    </div>
    <main>
        {% for r in wr %}
        <section id="note-section">
          <div id="note-container" style="background-color: rgb(237, 250, 249)">
            <h3
              style="
                font-weight: 200;
                color: rgb(93, 99, 116);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              <br />
              <p style="padding: 10px; font-family: monospace;"> User name: {{r.name}} </p>
              <br />
             
              <p style="padding: 10px; font-family: monospace;">Amount:  {{r.amount}}</p>
             <br />
            
          
              <p style="padding: 10px; font-family: monospace;">Tron address:</p>
              <div class="copy-container">
                <input type="text" id="copy-text" value="{{r.address}}">
                <button id="copy-button">Copy</button>
            </div>
              <br />
            </h3>
          </div>
        </section>
  
        {% endfor %}
      </main>


      <script>
        const copyText = document.getElementById('copy-text');
        const copyButton = document.getElementById('copy-button');
    
        copyButton.addEventListener('click', function() {
            copyText.select();
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            copyButton.innerText = 'Copied!';
            setTimeout(function() {
                copyButton.innerText = 'Copy';
            }, 1000);
        });
    </script>
    
</body>

</html>